$tablet-screen: 475px;
$big-tablet-screen: 768px;
$laptop-screen: 1024px;
$desktop-screen: 1440px;
$super-big-screen: 2400px;

//COLORS
$base-color: #f3f6fd;

$primary-color: #fbfbff;

$secondary-color: #00065c;

$accent-color: #3185ff;

$text-color: #22262e;

$text-color-alt: $primary-color;

$error-color: #f43f5e;

$warning-color: #f59e0b;

$success-color: #10b981;

$gold-color: #ffe492;

$loading-color: $secondary-color;

$pink-color: #ff91af;

$blue-color: #8082ab;

$purple-color: #a855f7;

$transparent-light: rgba($primary-color, 0.1);
$transparent-dark: rgba($text-color, 0.1);

//BORDERS
$radius: 1.5rem;

//SHADOWS
$shadow-black: 0px 0px 10px rgba(0, 0, 0, 0.02);
$shadow-primary: 0px 0px 10px rgba($primary-color, 0.05);
$shadow-secondary: 0px 0px 10px rgba($secondary-color, 0.05);
$shadow-text: 0px 0px 2px $text-color;
$shadow-text-secondary: 0px 0px 2px $secondary-color;
$shadow-success: 0px 0px 10px rgba($success-color, 0.05);
$shadow-error: 0px 0px 10px rgba($error-color, 0.05);
$shadow-loading: 0px 0px 10px rgba($loading-color, 0.05);

// TYPO
$line-height: 1.15;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//GOLDEN NUMBER
$golden-number: 1.618;

//FONT SIZES
$small-text: 0.85rem;
$subtitles: 1.25rem;
$titles: 2.6rem;

$blur: 2px;
