.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  min-width: 280px;
  min-height: 21.87rem;
  scroll-margin-top: 4rem;

  transform: scale(1);
  transition: transform 1s cubic-bezier(0.47, 1.64, 0.41, 0.8);

  @starting-style {
    transform: scale(0);
  }

  @media (min-width: $big-tablet-screen) {
    padding: 1.5rem;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
  }

  &__illustration {
    display: flex;
    width: 100%;
    max-width: 18.75rem;
    position: relative;

    &__image {
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: rgba($accent-color, 0.1);
      width: 17rem;
      height: 17rem;
      border-radius:  /* horizontal */ 100% 30% 60% 70% / /* vertical */ 50% 40%
        70% 70%;
      top: 10%;
      bottom: 0;
      left: 0;

      @media (min-width: $big-tablet-screen) {
        width: 20rem;
        height: 20rem;
        bottom: 0;
        left: -10%;
        margin: auto;
      }
    }
  }

  &__list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    height: 100%;
    min-height: 100%;
    max-width: 30rem;

    @media (min-width: $laptop-screen) {
      min-height: 27rem;
      max-width: 52rem;
      width: 100%;
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      font-size: 2.5rem;
      font-weight: $semi-bold;
      grid-column: 1 / -1;
    }

    &__subtitle {
      font-size: 1.25rem;
      font-weight: $regular;
      margin-bottom: 1rem;
      grid-column: 1 / -1;
      text-wrap: balance;
    }

    &__item {
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem;
      height: 100%;
      align-items: center;
      font-size: 1rem;
      background-color: rgba($accent-color, 0.1);
      border-radius: calc($radius/2);

      &__number {
        font-weight: $bold;
        color: rgba($accent-color, 0.3);
        font-size: 2rem;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 1rem;

      @media (min-width: $laptop-screen) {
        flex-direction: row;
        margin-top: inherit;
        height: 100%;
        width: 100%;
        align-items: center;
        grid-column: 1 / -1;
      }
    }
  }
}
