.tool {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @media (min-width: $big-tablet-screen) {
    max-height: 80vh;
    overflow-y: scroll;
    gap: 3rem;
    padding-right: 1.5rem;
  }

  &__headlines {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: $desktop-screen) {
      display: grid;
      grid-template-columns: 4fr 1fr;
    }
  }
}

.liste-rubriques {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 1.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1rem;
    border-radius: calc($radius / 2);
    border: 1px solid color-mix(in srgb, $text-color 10%, transparent);
    background-color: $base-color;

    @media (min-width: $laptop-screen) {
      flex-direction: row;
      align-items: stretch;
      gap: 2rem;
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @media (min-width: $big-tablet-screen) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    border-radius: calc($radius / 2);
    border: 1px solid color-mix(in srgb, $text-color 10%, transparent);
    height: fit-content;
    align-items: end;
    transition:
      box-shadow 0.2s linear,
      background-color 0.2s linear,
      border 0.2s linear;

    @media (min-width: $big-tablet-screen) {
      padding: 1.5rem;
      gap: 1.5rem;

      &:hover {
        background-color: $primary-color;
        box-shadow: $shadow-black;
        border: 1px solid $primary-color;
        cursor: pointer;
      }
    }

    &__header {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: space-between;

      &__title {
        width: calc(100% - 6rem);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.25rem;
        font-weight: $semi-bold;
      }
    }
  }
}

.rubrique {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;

  @media (min-width: $laptop-screen) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-wrap: balance;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
    gap: 1rem;
    margin-top: 1rem;
    grid-row: 3;

    @media (min-width: $laptop-screen) {
      grid-column: 1;
      grid-row: 2;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @media (min-width: $laptop-screen) {
      grid-column: 2;
      grid-row: 1 / -1;
    }
  }
}

.side-menu {
  position: sticky;
  top: 0;
  z-index: 1;
  height: fit-content;
}

.rubriques-enter-active,
.rubriques-leave-active {
  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
}

.rubriques-enter-from,
.rubriques-leave-to {
  opacity: 0;
  transform: scale(0.98);
}

.rubriques-move {
  transition: transform 1s ease;
}
