.rubrique {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;

  @media (min-width: $laptop-screen) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-wrap: balance;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: fit-content;
    gap: 1rem;
    margin-top: 1rem;
    grid-row: 3;

    @media (min-width: $laptop-screen) {
      grid-column: 1;
      grid-row: 2;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @media (min-width: $laptop-screen) {
      grid-column: 2;
      grid-row: 1 / -1;
    }
  }
}
